<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <appSettings>
    <add key="PayPalUsername" value="amol.n_1361422908_biz@rackinfotech.com" />
    <add key="PDTToken" value="Imk4nBxCCTUv0OYqg9G1ApPLo4mzlFSJucO6KqW890Uu3SCjetOP18Nb-YG" />
    <add key="PayPalSubmitUrl" value="https://www.sandbox.paypal.com/cgi-bin/webscr" />
    <add key="CancelUrl" value="http://localhost:12345/PaymentSucced.aspx" />
    <add key="APIUsername" value="amol.n@rackinfotech.com" />
    <add key="APIPassword" value="amol123123" />
    <add key="ResponceUrl" value="http://localhost:12345/PaymentSucced.aspx" />
    <add key="HostingPrefix" value="http://localhost:12345/" />
     <add key="PopupUrlPath" value="https://player.vimeo.com/video/100855580" />
    <add key="USER" value="testMerchantrackinfo" />
    <add key="VENDOR" value="testMerchantrackinfo" />
    <add key="PARTNER" value="PayPal" />
    <add key="PWD" value="rack@123321" />
     <add key="smtpClient" value="email-smtp.us-east-1.amazonaws.com"/>
    <add key="useremailId" value="AKIAIVPRROVW7JXZZPWA"/>
    <add key="userPassword" value="AtTNCAjBTZGJXv72eQjr+Gu4ckNDg6pPOmfGMBKvmjfz"/>
    <add key="portDetails" value="587"/>
    <add key="ssl" value="true"/>
    <!--Subjects of emails...-->
    <add key="AdminCertificateOnRequest" value="Your Certificate On Request" />
    <add key="AdminProofOfEvedence" value="Evidence of Coverage" />
    <add key="VerifyEmailSubject" value="Verify Your Email Address" />
    <add key="GenerateCerificate" value="Certificate of Insurance" />
    <add key="GetPassword" value="Password Recovery" />
    <add key="SendingSecCodeToUser" value="Registration Complete" />
    <add key="SendingProofOfEvedence" value="Evidence of Coverage" />
    <add key="ChangeEmailSubject" value="Request for changing Email Address" />
    <add key="ConfirmEmailSubject" value="Email Address Request Processed" />
    <add key="PasswordChangeSubject" value="Password Request Processed" />
    <add key="SendingRenewMail" value="Renew Request Processed"/>
<add key="LogFolderPath" value="c:\\LogError\\"/>
    <!--Settings for Propay-->
    <add key="AuthenticationToken" value="5b5fb454-acb6-471e-bfb4-d03fb3822d08" />
    <add key="BillerID" value="6325272711920028" />
    <add key="AccountDescription" value="Payment for insurance" />
    <!--Settings for Report in Admin-->
    <add key="JOHNPARKINSURANCE" value="42.00" />
    <add key="TAX" value="0.36" />
    <add key="ADND" value="5.00" />
    <add key="ADDCOMM" value="0.75" />
    <!--Settings payment values-->
    <add key="Non-Membership" value="75.00" />
    <add key="Membership" value="42.00" />
    <add key="memberurl" value="http://www.independentdirectsellers.org/z28-verify-user.php?email=" />
    <!--For testing: 	pilot-payflowpro.paypal.com.
    For production: payflowpro.paypal.com-->
    <add key="PAYFLOW_HOST" value="pilot-payflowpro.paypal.com" />
    <!-- TRACE value when set to ON will show the 
			    complete exception stack trace in the response message, if any.
				    Change TRACE value to "ON" to switch on the stack trace in response message.-->
    <add key="TRACE" value="OFF" />
    <!-- This is a LOG level tag.To switch on logging change the logger level from "OFF" to any of the following:
	    a. DEBUG
	    b. INFO
	    c. WARN
	    d. ERROR
	    e. FATAL
	    -->
    <add key="LOG_LEVEL" value="OFF" />
    <!-- Relative path for LOG file. -->
    <add key="LOG_FILE" value="logs\PayflowSDK.log" />
    <!-- Log file filesize constant. -->
    <add key="LOGFILE_SIZE" value="102300" />
    <!--For Authorize dot net-->
    <add key="LoginID" value="5s68FRx7" />
    <add key="TranActionKey" value="7a7TF68zf7S7bKCF" />
  </appSettings>
  <connectionStrings>
    <!--<add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>-->
	<add name="insurencedb" connectionString="$(ReplacableToken_insurencedb-Web.config Connection String_0)"
   providerName="System.Data.SqlClient" />  
   </connectionStrings>
  <system.web>
    <customErrors mode="RemoteOnly">
      <error statusCode="400" redirect="ErrorPage.aspx"/>
      <error statusCode="404" redirect="ErrorPage.aspx"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime executionTimeout="60" maxRequestLength="2147483647" targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />

        <add tagPrefix="UC" src="~/UserControl/ucBanner.ascx" tagName="ucBanner" />
        <add tagPrefix="UC" src="~/UserControl/ucCertificateInformation.ascx" tagName="ucCertificateInformation" />
        <add tagPrefix="UC" src="~/UserControl/ucCoverage.ascx" tagName="Coverage" />
        <add tagPrefix="UC" src="~/UserControl/ucCreditCardInformation.ascx" tagName="ucCreditCardInformation"/>
        <add tagPrefix="UC" src="~/UserControl/ucEnroll.ascx" tagName="Enroll" />
        <add tagPrefix="UC" src="~/UserControl/ucEnrollDescription.ascx" tagName="EnrollDescription" />
        <add tagPrefix="UC" src="~/UserControl/ucForgotPassword.ascx" tagName="ucForgotPassword"/>
        <add tagPrefix="UC" src="~/UserControl/ucLogin.ascx" tagName="ucLogin"/>
        <add tagPrefix="UC" src="~/UserControl/ucPopUpControl.ascx" tagName="ucPopUpControl" />
        <add tagPrefix="UC" src="~/UserControl/ucProduct.ascx" tagName="ucProducts" />
        <add tagPrefix="UC" src="~/UserControl/ucProfile.ascx" tagName="ucProfile" />
        <add tagPrefix="UC" src="~/UserControl/ucUploadedDocument.ascx" tagName="ucUploadedDocument"/>

        <add tagPrefix="UC" src="~/Admin/UserControl/ucAdminMenu.ascx" tagName="ucAdminMenu" />
        <add tagPrefix="UC" src="~/Admin/UserControl/ucAdminLogin.ascx" tagName="ucAdminLogin" />
        <add tagPrefix="UC" src="~/Admin/UserControl/ucCustomerInformation.ascx" tagName="ucCustomerInformation" />
        <add tagPrefix="UC" src="~/Admin/UserControl/ucAdminUploadedDocument.ascx" tagName="ucAdminUploadedDocument" />

      </controls>
    </pages>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_Other"
	closeTimeout="00:01:00"
	 openTimeout="00:01:00" 
     receiveTimeout="00:10:00" 
     sendTimeout="00:01:00"
     allowCookies="false" 
     bypassProxyOnLocal="false" 
	maxBufferSize="2147483647" 
	maxBufferPoolSize="2147483647"  
	maxReceivedMessageSize="2147483647" 
	useDefaultWebProxy="true"  />
        <binding name="BasicHttpBinding_SPSService" maxBufferSize="2147483647" maxBufferPoolSize="2147483647"  maxReceivedMessageSize="2147483647" >
	
 <security mode="Transport" />
    </binding>
      </basicHttpBinding>


      <customBinding>
        <binding name="CustomBinding_ManageUser">
          <binaryMessageEncoding maxReadPoolSize="2147483647" maxWritePoolSize="2147483647"
            maxSessionSize="2147483647">
            <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
              maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          </binaryMessageEncoding>
          <httpTransport manualAddressing="false" maxBufferPoolSize="2147483647"
            maxReceivedMessageSize="2147483647" allowCookies="false" authenticationScheme="Anonymous"
            bypassProxyOnLocal="false" decompressionEnabled="true" hostNameComparisonMode="StrongWildcard"
            keepAliveEnabled="true" maxBufferSize="2147483647" proxyAuthenticationScheme="Anonymous"
            realm="" transferMode="Buffered" unsafeConnectionNtlmAuthentication="false"
            useDefaultWebProxy="true" />
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
          <!--To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment-->
          <serviceMetadata httpGetEnabled="true"/>
          <!--To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information-->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <client>
      <endpoint address="https://protectpaytest.propay.com/API/SPS.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_SPSService" contract="SPSServiceSVC.SPSService" name="BasicHttpBinding_SPSService" />
      <endpoint address="http://localhost:48265/ManageUser.svc" binding="customBinding"  bindingConfiguration="CustomBinding_ManageUser" contract="ManageUserSVC.ManageUser" name="CustomBinding_ManageUser" />
      <endpoint address="http://localhost:48265/Other.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Other" contract="OtherSVC.Other" name="BasicHttpBinding_Other" />
    </client>
  </system.serviceModel>
</configuration>